.App1 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*
  // TODO responsive width if only one card across
*/
.row {
  margin-bottom: 10px;
}
.card {
  /*add inline-display*/
  display: inline-block;

  max-width: 240px;
  min-width: 240px;
  min-height: 240px;
  max-height: 240px;
  margin-left: 10px;
  margin-right: 10px;
}

.card .card-content {
    padding-top: 16px;
}

.card-image {
  height1: 80px;
  width: 50%;
  margin-left: 25%;
}

.email {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.user-address {
  line-height: 0.6;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
